@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.Startup {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    color: #1E0E62;
    padding-top: 70px;

}

.be {
    width: 198px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #15143966;
    text-align: left;
    margin-top: 20px;
}

.about {

    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #1E0E62;
    padding-top: 70px;
}

.p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #1E0E62;
    margin-top: 20px;
}

.email {
    border-radius: 40px;
    width: 230px;
    height: 40px;
    border: 2px solid #EBEAED;
    padding: 10px;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.sub {
    width: 250px;
    height: 40px;
    background: #25DAC5;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    padding: 10px;
    margin-left: 5px;
}

.tag {
    margin-right: 20px;
    justify-content: center;
}

.svg {
    padding-top: 50px;
}

.end {
    margin-top: 270px;
    border-top: 2px solid #EBEAED;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #15143966;
    padding-top: 20px;

}